<div class="container">
  <div class="row">

  <div class="col-md-8 panel" style="margin-bottom: 30px;height: 60px;padding: 17px;" >

      <div class="col-md-4">

        <p style="text-align: center;color:#CC2B26;">  on choisie ce qu'on étend</p>

      </div>
      <div class="col-md-4">

        <p style="text-align: center;color:#CC2B26;"> Tout étendu / All expanded</p>

      </div>





  </div>

      <div class="col-md-12">
          <div class="col-md-5">
              <div class="panel  " style="box-shadow: 0px -8px 10px lightgrey;" data-collapsed="0">

                  <!-- panel head -->
                  <div class="panel-heading">

                      <h1 style="text-align: center;"class="panel-title cc">Affichage étendu</h1>
                      <h1 style="float: right;"class="panel-title cc">Resest</h1>
                  <div>
              <input type="search" class="form-control" id="site-search" style="width: 100%;" placeholder="Search...">
                  </div>


                  </div>

                  <!-- panel body -->
                  <div class="panel-body">
                    <hr>
                      <div>
                          <input type="checkbox"  style="width: 20px;" id="scales" name="scales">
                          <label for="scales"> Sélectionner tout</label>
                        </div>
                  <hr>
                  <div>
                      <input type="checkbox" style="width: 20px;"  id="scales" name="scales"
                             >
                      <label for="scales"> Conception</label>
                    </div>
                  <hr>
                  <div>
                      <input type="checkbox"  style="width: 20px;" id="scales" name="scales"
  >
                      <label for="scales" > Construction</label>
                    </div>
                    <hr>
                    <div>
                        <input type="checkbox"  style="width: 20px;" id="scales" name="scales"
                               checked>
                        <label for="scales">Raccordement</label>
                      </div>


                      <hr>
                    <div>
                      <button class="st"  style="background-color: #9E9E9E">Annuler</button>
                      <button class="st" style="background-color: #00ae81"> Ok</button>
                    <button class="st" style="background-color: #2D7574">Utiliser par défaut</button>


                      </div>

                  </div>



          </div>
          </div>
      </div>
  </div>

  </div>
