<div class="container">
  <app-nav-fiche></app-nav-fiche>
     <div class="row" style="margin-top: 40px;">
       <div class="col-md-12" style="margin-bottom: 30px;">

      <h3 class="cc">Fiche Client  <span class="vertical-line"></span><span class="cc1">Opex</span>
      </h3>


    </div>

     </div>



 <div class="row">
     <div class="row" style="margin-bottom: 8px;">
         <div class="col-md-6">
           <div class="col-md-7">
             <div class="row">
               <div class="col-md-3">
                 Nom
               </div>
               <div class="col-md-1">
                 :
               </div>
               <div class="col-md-3">
                 Nom du client
               </div>
             </div>
            NOM : Nom du cspanent
          </div>
           <div class="col-md-1"> </div>
           <div class="col-md-4" style="color: #00AE81;">QUOTATION</div>
         </div>

     </div>
     <div class="row" style="margin-bottom: 8px;">
         <div class="col-md-6">
           <div class="col-md-4">PRENOM : Prenom du cspanent </div>
           <div class="col-md-1"></div>
           <div class="col-md-7"></div>
         </div>

     </div>
     <div class="row" style="margin-bottom: 8px;">
         <div class="col-md-6">
           <div class="col-md-4">VILLE : Ville du projet </div>
           <div class="col-md-4"></div>
           <div class="col-md-4"></div>
         </div>

     </div>
     <div class="row" style="margin-bottom: 8px;">
         <div class="col-md-6">
           <div class="col-md-4">TYPE : Injection </div>
           <div class="col-md-1"></div>
           <div class="col-md-7"style="color: #00AE81;">ACCEDER A SA FICHE</div>
         </div>

     </div>
     <div class="row" style="margin-bottom: 8px;">
         <div class="col-md-6">
           <div class="col-md-4">Puissance : 200 Nm3 </div>
           <div class="col-md-1"></div>
           <div class="col-md-7"style="color: #00AE81;">IMPRIMER</div>
         </div>

     </div>

 <hr>
 </div>

 <div class="row">
   <div class="col-md-12" style="margin-bottom: 50px;">
     <div class="col-md-9">
       <div class="row">
         <div class="col-md-5">

           <button class="btn" style="border-left:8px solid #00AE81;">
             Charges d'Exploitation
           </button>



         </div>
         <div class="col-md-4">
           <button class="btn" style="background-color: white;float: right;" >182000 £</button>
         </div>
       </div>


     </div>

   </div>
   <div class="col-md-12"style="margin-bottom: 50px;">
     <div class="col-md-9">
       <div class="row">
         <div class="col-md-5">

           <button class="btn" style="border-left:8px solid #00AE81;"
         >
             Consomables
           </button>



         </div>
         <div class="col-md-4">
           <button class="btn" style="float: right;" >182000 £</button>
         </div>
       </div>


     </div>
     <div class="col-md-3">

     </div>
   </div>


   <div class="col-md-12"style="margin-bottom: 50px;">
     <div class="col-md-9">
       <div class="row">
         <div class="col-md-5">

           <button class="btn" style="border-left:8px solid #00AE81;"
         >
             Entretien
           </button>



         </div>
         <div class="col-md-4">
           <button class="btn" style="float: right;" >182000 £</button>
         </div>
       </div>


     </div>
     <div class="col-md-3">

     </div>
   </div>



   <div class="col-md-12"style="margin-bottom: 50px;">
     <div class="col-md-9">
       <div class="row">
         <div class="col-md-5">

           <button class="btn" style="border-left:8px solid #00AE81;"
        >
             Logistique
           </button>



         </div>
         <div class="col-md-4">
           <button class="btn" style="float: right;" >182000 £</button>
         </div>
       </div>


     </div>
     <div class="col-md-3">

     </div>
   </div>


   <div class="col-md-12"style="margin-bottom: 50px;">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-5">

            <button class="btn" style="border-left:8px solid #00AE81;"
         >
              Ensilage
            </button>



          </div>
          <div class="col-md-4">
            <button class="btn" style="float: right;" >182000 £</button>
          </div>
        </div>


      </div>
      <div class="col-md-3">

      </div>
    </div>


    <div class="col-md-12"style="margin-bottom: 50px;">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-5">

            <button class="btn" style="border-left:8px solid #00AE81;"
         >
              Achat des intrants
            </button>



          </div>
          <div class="col-md-4">
            <button class="btn" style="float: right;" >182000 £</button>
          </div>
        </div>


      </div>
      <div class="col-md-3">

      </div>
    </div>
   <div class="col-md-12"style="margin-bottom: 50px;">
     <div class="col-md-9">
       <div class="row">
         <div class="col-md-5">

           <a class="btn" style="background-color: #00AE81;"
          >
             Grand Total CAPEX
         </a>



         </div>
         <div class="col-md-4">
           <a class="btn" style="background-color: #00AE81;float: right;" >182000 £</a>
         </div>
       </div>


     </div>

   </div>
 </div>




