



<div class="row">

  <a  class=" col-md-1 text-center" style="margin-right: 8px;"
  routerLink="/ficheProjet" routerLinkActive="is-active " >

    <img src="assets/icon/gisement.png" alt="" width="70px"routerLink="/ficheProjet" routerLinkActive="is-active " >
    <span style="color:#6B6B6B">Gisement</span>
</a>




  <a class="col-md-1 text-center" style="margin-right: 8px;">
    <img src="assets/icon/28011.png" alt="" width="70px" routerLink="/scenario" routerLinkActive="is-active " >
    <span style="color:#6B6B6B">Scenario</span>
</a>






<a class="col-md-1 text-center" style="margin-right: 8px;">
  <img src="assets/icon/29011.png" alt="" width="70px">
  <span style="color:#6B6B6B">Digestat</span>
</a>



<a class="col-md-1 text-center" style="margin-right: 8px;">
<img src="assets/icon/recette.png" alt="" width="70px">
<span style="color:#6B6B6B">Recettes</span>
</a>



<a  class="col-md-1 text-center" style="margin-right: 8px;" >
<img src="assets/icon/conception.png" alt="" width="70px">
<span style="color:#6B6B6B">Conception</span>
</a>




<a  class="col-md-1 text-center" style="margin-right: 8px;" >
<img src="assets/icon/construction.png" alt="" width="70px">
<span style="color:#6B6B6B">Construction</span>
</a>



<a class=" col-md-1 text-center" style="margin-right: 8px;"   >
<img  src="assets/icon/exploitation.png" alt="" width="70px">
<span style="color:#6B6B6B">Exploitation</span>
</a>



<a   class=" col-md-1 text-center" style="margin-right: 8px;"
routerLink="/capex" routerLinkActive="is-active ">
<img src="assets/icon/capex.png" alt="" width="70px" >
<span style="color:#6B6B6B">CAPEX</span>
</a>



<a class="col-md-1 text-center" style="margin-right: 8px;" routerLink="/opex"    routerLinkActive="is-active">
<img src="assets/icon/opex.png" alt="" width="70px">
<span style="color:#6B6B6B" >OPEX</span>
</a>
<!--
[ngClass]="{'is-active': rlRef.isActive}"
<a class="col-md-1 text-center" style="margin-right: 8px;" routerLink="/opex" #rlRef="routerLinkActive" >
<img src="assets/icon/opex.png" alt="" width="70px">
<span style="color:#6B6B6B" >OPEX</span>
</a>
-->


<a  class="col-md-1 text-center" style="margin-right: 8px;">
<img src="assets/icon/financement.png" alt="" width="70px">
<span style="color:#6B6B6B">Financement</span>
</a>



<a  class="col-md-1 text-center" style="margin-right: 8px;" >
<img src="assets/icon/bp.png" alt="" width="70px">
<span style="color:#6B6B6B">BP</span>
</a>







</div>




