ul.horizontal {
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
}
ul.horizontal p {
  float: left;
  cursor: pointer;
  margin-right: 8px;
}
ul.horizontal p a {
  opacity: 0.3;
}
ul.horizontal p a.active {
  opacity: 1;
}



.A {
  border: 2px solid red;
}
.B {
  border: 2px solid green;
}
.vertical-line {
  border-left: 2px solid #00ae81;
  display: inline-block;
  height: 20px;
  margin: 0 20px;
}

h3 {
  color: #6b6b6b;
  margin-bottom: 40px;
}

.horizontalline {
  width: 100%;
  display: block;
  height: 1px;
  background-color: #2d7574;
}
h1 {
  color: #00ae81;
  font-weight: bold;

  /* font-size: 13px; */
  /* font-family: "Open Sans"; */
}



.sticky {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sticky.fixed {
  position: fixed;
  top: 83px;
}

/*CSS CAPEX */
.btn {
  width: 100%;
  background-color: white;
}


.vert-line {
  border-left: 2px solid #00ae81;
  display: inline-block;
  height: 20px;
  margin: 0 20px;
}

.vert-line2 {
  border-left: 5px solid white;
  display: inline-block;
  height: 30px;
  margin: 0 20px;
}

hr {
  width: 40%;
  margin-left: 0px;
}
td {
  text-align: right;
  vertical-align: middle;
}
th {
  vertical-align: middle;
}

.cc {
  font-family: "Open Sans";
  font-size: 11;
  font-style: bold;
  color: #00ae81;
}

.cc3 {
  font-family: "Open Sans";
  font-size: 9;
  font-style: italic;
  color: #2d7574;
}
.cc1 {
  font-family: "Open Sans";
  font-size: 10;
  font-style: bold;
  color: #6b6b6b;
}


.vertical-lineOpex{
  /* border-left: 10px solid #00ae81;
                display: inline-block;
                height: 30px;
                margin: 0 10px; */
  border-left: thick solid #6b6b6b;
  margin-right: 8px;
}

