<div class="container-fluid"  >





  <div class="row">

      <a  class=" col-md-1 text-center" style="margin-right: 8px;"
      data-toggle="tab"  role="tablist"
          href="#tab1"  >

        <img src="assets/icon/gisement.png" alt="" width="70px" >
        <span style="color:#6B6B6B">Gisement</span>
    </a>




      <a class="col-md-1 text-center" style="margin-right: 8px;"
      data-toggle="tab"  role="tablist"
          href="#tab2" >
        <img src="assets/icon/28011.png" alt="" width="70px" >
        <span style="color:#6B6B6B">Scenario</span>
    </a>






    <a class="col-md-1 text-center" style="margin-right: 8px;">
      <img src="assets/icon/29011.png" alt="" width="70px">
      <span style="color:#6B6B6B">Digestat</span>
    </a>



    <a class="col-md-1 text-center" style="margin-right: 8px;">
    <img src="assets/icon/recette.png" alt="" width="70px">
    <span style="color:#6B6B6B">Recettes</span>
    </a>



    <a  class="col-md-1 text-center" style="margin-right: 8px;" >
    <img src="assets/icon/conception.png" alt="" width="70px">
    <span style="color:#6B6B6B">Conception</span>
    </a>




    <a  class="col-md-1 text-center" style="margin-right: 8px;" >
    <img src="assets/icon/construction.png" alt="" width="70px">
    <span style="color:#6B6B6B">Construction</span>
    </a>



    <a class=" col-md-1 text-center" style="margin-right: 8px;"   >
    <img  src="assets/icon/exploitation.png" alt="" width="70px">
    <span style="color:#6B6B6B">Exploitation</span>
    </a>



    <a   class=" col-md-1 text-center" style="margin-right: 8px;"
    routerLink="/capex" routerLinkActive="is-active ">
    <img src="assets/icon/capex.png" alt="" width="70px" >
    <span style="color:#6B6B6B">CAPEX</span>
    </a>



    <a class="col-md-1 text-center" style="margin-right: 8px;" routerLink="/opex"    routerLinkActive="is-active">
    <img src="assets/icon/opex.png" alt="" width="70px">
    <span style="color:#6B6B6B" >OPEX</span>
    </a>
    <!--
    [ngClass]="{'is-active': rlRef.isActive}"
    <a class="col-md-1 text-center" style="margin-right: 8px;" routerLink="/opex" #rlRef="routerLinkActive" >
    <img src="assets/icon/opex.png" alt="" width="70px">
    <span style="color:#6B6B6B" >OPEX</span>
    </a>
    -->


    <a  class="col-md-1 text-center" style="margin-right: 8px;">
    <img src="assets/icon/financement.png" alt="" width="70px">
    <span style="color:#6B6B6B">Financement</span>
    </a>



    <a  class="col-md-1 text-center" style="margin-right: 8px;" >
    <img src="assets/icon/bp.png" alt="" width="70px">
    <span style="color:#6B6B6B">BP</span>
    </a>







    </div>




    <div class="tab-content ">
      <div class="tab-pane active" id="tab1">
        <div class="row" style="margin-top: 40px;">
          <div class="col-md-12" style="margin-bottom: 50px;" >

            <div class="row">
              <div class="col-md-12" style="margin-bottom: 30px;">

                <h3 class="cc">Fiche Projet  <span class="vertical-line"></span><span class="cc1">Gisement</span>
                </h3>


              </div>

          </div>

        </div>
        <div class="col-md-12">
          <div class="row" style="margin-bottom: 8px;">
          <div class="col-md-9">
                <div class="row"style="margin-bottom: 10px;">

                    <div class="col-md-2">NOM</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-3"style="font-weight: bold;color: #000;">Nom du client </div>

                    <div class="col-md-1"style="font-weight: bold;color: #000;"><span class="vert-line"></span></div>
                    <div  class="col-md-3" style="color: #00AE81;margin-bottom: 10px;">QUOTATION</div>
                </div>
                <div class="row"style="margin-bottom: 10px;">

                    <div class="col-md-2">PRENOM</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-3"style="font-weight: bold;color: #000;">prenom du client </div>
                    <div class="col-md-1"style="font-weight: bold;color: #000;"><span class="vert-line"></span></div>
                    <div class="col-md-3" style="color: #00AE81;margin-bottom: 10px;">ACCEDER A SA FICHE</div>
                </div>
                <div class="row"style="margin-bottom: 10px;">

                  <div class="col-md-2">VILLE</div>
                  <div class="col-md-1">:</div>
                  <div class="col-md-3"style="font-weight: bold;color: #000;">Ville du projet </div>
                  <div class="col-md-1"style="font-weight: bold;color: #000;"><span class="vert-line"></span></div>
                  <div class="col-md-3" style="color: #00AE81;margin-bottom: 10px;">IMPRIMER</div>

              </div>
              <div class="row"style="margin-bottom: 10px;">

                <div class="col-md-2">Puissance</div>
                <div class="col-md-1">:</div>
                <div class="col-md-3"style="font-weight: bold;color: #000;">200 Nm3</div>

            </div>

                </div>
                </div>
        </div>

    <form class="needs-validation" #f="ngForm">
    <div class="row">
      <div class="col-md-12">
        <h3 style="color: #00AE81;">Caractéristique des intrants</h3>
    <div class="row">
      <div class="col-md-2">
        <label for="formGroupExampleInput">Intrant catégorie 1</label>
        <select id="formGroupExampleInput"  [value]="ic1"
       (change)="listenType($event.target.value)" [(ngModel)]="infos.IC1"
        name="IC1" type="text" class="form-control" >
        <option *ngFor="let item of infotrie" [value]="item">{{item}}
        </option>

      </select>
      </div>
      <div class="col-md-2">
        <label for="formGroupExampleInput">Intrant catégorie 2</label>
         <select id="formGroupExampleInput"  (change)="listenIc1($event.target.value)"
          [(ngModel)]="infos.IC2"
                    name="IC2" type="text"
                     class="form-control"   [value]="ic2"
                    >

                    <option *ngFor="let item of infotrie2" [value]="item">{{item}}
                    </option>

                  </select>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="formGroupExampleInput">Intrant catégorie 3</label>
          <select id="formGroupExampleInput" (change)="listenIc2($event.target.value)" [(ngModel)]="infos.IC3"
          name="IC3" type="text" class="form-control" id="validationCustom01" [value]="ic3"
          >

          <option *ngFor="let item of infotrie3" [value]="item">{{item}}
          </option>

        </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="formGroupExampleInput">Description biblio</label>
          <select id="formGroupExampleInput" (change)="listenDesc($event.target.value)" [(ngModel)]="infos.Description"
          name="Description" type="text" class="form-control" id="validationCustom01"
          [value]="desc_biblio"   required>

          <option *ngFor="let item of infotrie4" [value]="item">

            {{item}}


          </option>

        </select>
        </div>
      </div>




      <div class="col-md-2">

        <div class="form-group">
          <label for="formGroupExampleInput">Unité de mesure</label>
          <input
                      [(ngModel)]="infos.Unitee" name="Unitee" type="text" class="form-control"
                      [value]="u"
          id="formGroupExampleInput" required value="{{infotrie5?.Unitee}}" >
        </div>

      </div>

    </div>


    <div class="row">

      <div class="col-md-2">
        <div class="form-group">
          <label for="formGroupExampleInput">MB/u</label>
          <input [(ngModel)]="infos.uMB_an" name="uMB_an" type="text" class="form-control"
          [value]="mb"
          id="formGroupExampleInput" required value="{{infotrie5?.uMB_an}}">
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="formGroupExampleInput">MS/u</label>
          <input type="text" class="form-control"
          [value]="ms"  id="formGroupExampleInput"
          [(ngModel)]="infos.Effluent_Delevage" name="Effluent_Delevage"
                      value="{{infotrie5?.Effluent_Delevage}}" >
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="formGroupExampleInput">%MS </label>
          <input type="text" [(ngModel)]="infos.MS" class="form-control"
          [value]="perc_Ms"
          id="formGroupExampleInput"
          name="MS" value="{{infotrie5?.MS}}" >
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="formGroupExampleInput">% MO/MS</label>
          <input type="text" [(ngModel)]="infos.MO_MS" class="form-control"
          [value]="mo"
          id="formGroupExampleInput"
          value="{{infotrie5?.MO_MS}}" name="MO_MS" >
        </div>
      </div>

      <div class="col-md-2">
      <div class="form-group">
        <label for="formGroupExampleInput">Nm3 CH4/t MO</label>
        <input type="text" [(ngModel)]="infos.Nm3_CH4_t_MO" name="Nm3_CH4_t_MO" class="form-control"
        [value]="nm3"
        id="formGroupExampleInput" required value="{{infotrie5?.Nm3_CH4_t_MO}}"
       >
      </div>
    </div>




    </div>
    <div class="row">

      <div class="col-md-2">
        <div class="form-group">
          <label for="formGroupExampleInput"> Description Client</label>
          <input (keydown.enter)="$event.preventDefault()" class="form-control"
          id="validationCustom01" required id="formGroupExampleInput" type="text"
          [(ngModel)]="description" name="description" [value]="des" >
        </div>

      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="formGroupExampleInput">Quantité</label>
          <input

          (change)="listenQuantute($event.target.value)"

          [(ngModel)]="quantite" name="quantite" class="form-control" [value]="q">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="formGroupExampleInput"> Tot MB</label>
          <input [(ngModel)]="t_MB_an" name="t_MB_an" type="text" class="form-control"
          [value]="mb_an"

      id="formGroupExampleInput"  value="{{prod}}" >
        </div>

      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="formGroupExampleInput">Tot MS</label>
          <input [(ngModel)]="t_MS_an" name="t_MS_an" type="text" class="form-control"
          [value]="ms_an"
          id="formGroupExampleInput"  value="{{prod1}}">
        </div>

      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="formGroupExampleInput">Nm3 Ch4/an</label>
          <input [(ngModel)]="Nm3_CH4_an" name="Nm3_CH4_an" type="text" class="form-control"
          [value]="nm3_an"
          id="formGroupExampleInput"  value="{{prod2}}" >
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label for="formGroupExampleInput">Prix</label>

            <input (keydown.enter)="$event.preventDefault()" #x (change)="formule(x.value)"
              [(ngModel)]="prix" name="prix" value="prix" class="form-control">

        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="formGroupExampleInput">Base</label>
          <select (keydown.enter)="$event.preventDefault()" #x (change)="formule(x.value)"class="form-control"
          [(ngModel)]="base_prix" name="base_prix">
          <option *ngFor="let o of options">
           {{o.data}}
          </option>

        </select>



        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="formGroupExampleInput">Prix [€/t MB]</label>
          <input type="text"
          class="form-control" id="formGroupExampleInput"
           (keydown.enter)="$event.preventDefault()" [(ngModel)]="t_MB" name="t_MB"
          value="{{t_MB}}">
        </div>


      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="formGroupExampleInput">Prix [€/t MS]</label>
          <input type="text"
          class="form-control" id="formGroupExampleInput"
          (keydown.enter)="$event.preventDefault()" [(ngModel)]="t_MS" name="t_MS"
          value="{{t_MS}}">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="formGroupExampleInput">Total</label>
          <input type="text"
          class="form-control" id="formGroupExampleInput"
          (keydown.enter)="$event.preventDefault()" [(ngModel)]="t_MS" name="t_MS"
          value="{{t_MS}}">
        </div>
      </div>
    </div>

      <i class="entypo-plus-circled" type="submit" (click)="saveContent(f.value)"

      style=" font-size: 30px;border-radius: 60px; background-color: #2D7574;color:white;float:left;"></i>



    <div style="margin-top: 50px;">
      <div class="row">
        <div class="col-md-10">
          <table class="table table-striped " >


            <thead>
              <tr>


                <th >Description Client</th>

                <th  >Quantité</th>
                <th >Tot MB</th>
                <th  >Tot MS</th>
                <th >Nm3/h</th>
                <th >KWe/h</th>
                <th >Action</th>







                <!-- <th></th>
                  <th>Sous tt d'expoloitation lavage II </th>
                  <th>sous tt autre</th>
                  <th>Grand tt d'exploitation i+ii</th> -->
              </tr>
              <tr>

                <th style="background-color: #2D7574;"></th>
                <th style="background-color: #2D7574;"></th>
                <th style="background-color: #2D7574;"></th>
                <th style="background-color: #2D7574;"></th>
                <th style="background-color: #2D7574;"></th>
                <th style="background-color: #2D7574;"></th>
                 <th style="background-color: #2D7574;"></th>


              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let newFiche of newFiche ;let i=index" >



                    <td>
                      <span  *ngIf="!isVisible">{{newFiche?.description}}</span>
                      <input  [(ngModel)]="newFiche.description" name="description" *ngIf="isVisible" />
                     </td>




                  <td>
                    <span  *ngIf="!isVisible">{{newFiche?.quantite}}</span>
                    <input  [(ngModel)]="newFiche.quantite" name="quantite" *ngIf="isVisible"/>
                </td>


                  <td>
                    <span  *ngIf="!isVisible">{{newFiche?.t_MB_an}}</span>
                    <input  [(ngModel)]="newFiche.t_MB_an" name="t_MB_an" *ngIf="isVisible"/>
                </td>




                  <td>
                    <span  *ngIf="!isVisible">{{newFiche?.t_MS_an}}</span>
                    <input  [(ngModel)]="newFiche.t_MS_an"  name="newFiche.t_MS_an" *ngIf="isVisible"/>
                </td>





                 <td>
                  <span  *ngIf="!isVisible">{{newFiche?.Nm3_CH4_an}}</span>
                  <input  [(ngModel)]="newFiche.Nm3_CH4_an"  name="newFiche.Nm3_CH4_an" *ngIf="isVisible"/>
              </td>


                <td>
                  <span  *ngIf="!isVisible" >{{newFiche?.KWe_h}}</span>
                  <input  [(ngModel)]="newFiche.KWe_h" name="newFiche.KWe_h" *ngIf="isVisible"/>
                </td>
                <td colspan="2">

                  <i class="entypo-pencil" style="font-size:15px ;margin-left: 15px; color: #2D7574;" (click)="indexRow(newFiche)" ></i>
                  <i class="entypo-trash" style="font-size:15px ;margin-left: 15px; color: red;"   (click)="delete(newFiche)" title="Delete"></i>
                  <i class="entypo-check" style="font-size:15px ;margin-left: 15px; color: green;" ></i>
                </td>





              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <!-- <td>{{sum_of_Animal_TMB}}</td>
                <td>{{sum_of_Animal_TMS}}</td>
                <td>{{sum_of_Animal_NM3}}</td> -->
              </tr>

            </tbody>

            <br>




          </table>

          <!-- <div style="margin-top: 20px; float: right">
            <button class="btn btn-success mr-5" (click)="addFiche(newFiche)">Save</button>
            <button class="btn btn-warning">Cancel</button>
          </div> -->


        </div>

      </div>
    </div>

    <div style="margin-top: 50px;">
      <div class="row">
        <div class="col-md-10">
          <table class="table table-striped " >


            <thead>
              <tr>


                <th >Total MS</th>

                <th  >Total MB</th>
                <th >Total Nm3CH4/h</th>
                <th  >Total KWe/h</th>

              </tr>
              <tr>

                <th style="background-color: #2D7574;"></th>
                <th style="background-color: #2D7574;"></th>
                <th style="background-color: #2D7574;"></th>
                <th style="background-color: #2D7574;"></th>

              </tr>
            </thead>
            <tbody>

              <tr>
                <td>{{somme_MS}}</td>
                <td>{{somme_MB}}</td>
                <td>{{volume_Nm3_CH4_an}}</td>
                <td>{{somme_KWH}}</td> </tr>
            </tbody>

          </table>

          <div style="margin-top: 20px; float: right">
            <button class="btn btn-success mr-5" (click)="addFiche()">Save</button>
            <button class="btn btn-warning">Cancel</button>
          </div>


        </div>

      </div>
    </div>




      </div>
    </div>
    </form>
    </div>






    <div style="margin-top: 20px; float: right" >
      <button class="btn" (click)="openPopUp()" style="border-left: 5px solid #2D7574;background-color: white;">Eaux usées Parametres</button>
    </div>
    </div>

    <div  class="tab-pane" id="tab2">

          <!-- <div class="row" style="margin-top: 30px;">
            <div class="col-md-12">
              <div class="col-md-4">
                Montant Total du Capex
              </div>

              <div class="col-md-2">
                <div class="input-group">


                <input class="form-control autogrow" id="field-ta" value="{{Mtn_Total_Concep_Contruc_inj}}">
                <span class="input-group-addon ">€</span>
              </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">

                <input class="form-control autogrow" id="field-ta" value="{{cout_racc_cog}}">
                <span class="percent input-group-addon">€</span>
                    </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                <input class="form-control autogrow" id="field-ta" value="{{Mtn_Total_Concep_Contruc_cog}}">
                <span class="percent input-group-addon">€</span>
              </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                <input class="form-control autogrow" id="field-ta" value="{{cout_racc_cog}}">
                <span class="percent input-group-addon">€</span>
              </div>
              </div>
            </div>
          </div> -->



            <div class="row" style="margin-top: 40px;">
                <div class="col-md-12" style="margin-bottom: 50px;" >

                  <div class="row">
                    <div class="col-md-12" style="margin-bottom: 30px;">

                      <h3 class="cc">Fiche Projet  <span class="vertical-line"></span><span class="cc1">Scenario</span>
                      </h3>


                    </div>

                </div>

              </div>
              <div class="col-md-12">
                <div class="row" style="margin-bottom: 8px;">
                <div class="col-md-9">
                      <div class="row"style="margin-bottom: 10px;">

                          <div class="col-md-2">NOM</div>
                          <div class="col-md-1">:</div>
                          <div class="col-md-3"style="font-weight: bold;color: #000;">Nom du client </div>

                          <div class="col-md-1"style="font-weight: bold;color: #000;"><span class="vert-line"></span></div>
                          <div  class="col-md-3" style="color: #2D7574;margin-bottom: 10px;">QUOTATION</div>
                      </div>
                      <div class="row"style="margin-bottom: 10px;">

                          <div class="col-md-2">PRENOM</div>
                          <div class="col-md-1">:</div>
                          <div class="col-md-3"style="font-weight: bold;color: #000;">prenom du client </div>
                          <div class="col-md-1"style="font-weight: bold;color: #000;"><span class="vert-line"></span></div>
                          <div class="col-md-3" style="color: #2D7574;margin-bottom: 10px;">ACCEDER A SA FICHE</div>
                      </div>
                      <div class="row"style="margin-bottom: 10px;">

                        <div class="col-md-2">VILLE</div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-3"style="font-weight: bold;color: #000;">Ville du projet </div>
                        <div class="col-md-1"style="font-weight: bold;color: #000;"><span class="vert-line"></span></div>
                        <div class="col-md-3" style="color: #2D7574;margin-bottom: 10px;">IMPRIMER</div>

                    </div>
                    <div class="row"style="margin-bottom: 10px;">

                      <div class="col-md-2">Puissance</div>
                      <div class="col-md-1">:</div>
                      <div class="col-md-3"style="font-weight: bold;color: #000;">200 Nm3</div>

                  </div>

                      </div>
                      </div>
              </div>






            <div class="row" >

                  <div class="col-md-12 "style="margin-top: 60px;">
                    <div class="col-md-4">
                      <B>  Date prev. De signature du contrat
                        d'achat de biométhane</B>

                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                      <input class="form-control autogrow" id="field-ta" placeholder=""
                        [(ngModel)]="Date_signature_contrat_achat_biomethane" name="Date_signature_contrat_achat_biomethane"
                        value="{{selected | date:'dd/MM/yyyy'}}">
                        <span
                          class=" input-group-addon"style="background-color:white;
                          border-top-right-radius: 10px;border-bottom-right-radius: 10px;"
                      >
                         <i class="entypo-calendar" (click)="showDialog()" >

                         </i></span>
                        </div>

                    </div>
                    <div class="row" style="margin-top: 15px;">
                      <div class="col-md-12">
                        <div class="col-md-3"></div>
                        <div class="col-md-5" *ngIf="showCalander">  <app-calendar (selected)="selected = $event"></app-calendar></div>
                        <div class="col-md-3"></div>
                      </div>

                    </div>
                  </div>







            </div>
              <div class="row"
              style="margin-top: 30px; border: 1px solid #2D7574; border-radius: 10px; height: 600px;
              padding:0px">

              <div class="col-md-12">
                <div class="row" style=" padding: 10px;
                display: flex;
                height: 60px;
                background: #2D7574;border-top-left-radius: 9px;border-top-right-radius: 9px;">
                  <div class="col-md-12">
                    <div class="col-md-2" style="color: #fff;">
                      Contrainte règlementaire
                    </div>


                    <div class="col-md-4">
                      <div class="input-group">

                        <input class="form-control autogrow" id="field-ta" value="INJECTION"
                        style="border-top-left-radius: 10px;border-bottom-left-radius: 10px;"
                        >

                        <span class=" input-group-addon " style="background-color:white;
                        border-top-right-radius: 10px;border-bottom-right-radius: 10px;">
                          <i class="entypo-check"
                          style="background-color:green;color: white;"></i></span>
                      </div>

                    </div>
                    <div class="col-md-1"style="font-weight: bold;color: white;">
                      </div>
                    <div class="col-md-4">
                      <div class="input-group">

                        <input class="form-control " id="field-ta" value="COGÉNÉRATION"
                         style="border-top-left-radius: 10px;border-bottom-left-radius: 10px;"
                         [ngClass]="volume_Nm3_CH4_an > 500 ? 'A':'B'" >



                        <span *ngIf="volume_Nm3_CH4_an > 500 "
                           class=" input-group-addon"style="background-color:white;
                           border-top-right-radius: 10px;border-bottom-right-radius: 10px;"
                       >
                          <i class="entypo-cancel" style="background-color:#CC2B26;color: white;">

                          </i></span>

                          <span  *ngIf="volume_Nm3_CH4_an < 500 " class=" input-group-addon"
                          style="background-color:white;
                              border-top-right-radius: 10px;border-bottom-right-radius: 10px;">
                            <i class="entypo-check" style="background-color:#2D7574;color: white;"></i></span>

                              <span  *ngIf="!volume_Nm3_CH4_an" class=" input-group-addon "
                              style="background-color:#353E41;border-color: #353E41;
                        border-top-right-radius: 10px;border-bottom-right-radius: 10px;">
                                <i
                                ></i></span>
                          </div>
                    </div>
                  </div>

              </div>

                <div class="row" style="margin-top: 30px;">

                    <div class="col-md-12"style="margin-bottom: 15px;">
                    <div class="row">
                      <div class="col-md-4" style="background-color:#2D7574">
                        <div style="color: white;">Montant Total du Capex</div>
                      </div>
                    </div>

                    </div>

          <div class="row">
            <div class="col-md-12">



                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Conception et Construction</label>
                    <input type="text" class="form-control" value="{{calcul_Mtn()}}">

                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Coût du raccordement réseau gazier</label>
                    <input type="text" class="form-control" value="{{cout_racc_inj}}">

                  </div>

                </div>


                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Conception et Construction</label>
                    <input type="text" class="form-control" >

                  </div>



                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Coût du raccordement réseau électrique</label>
                    <input type="text" class="form-control" value="{{cout_racc_cog}}">

                  </div>



                </div>
            </div>


          </div>


                  </div>



                <div class="row" style="margin-top: 30px;">
                  <div class="col-md-12"style="margin-bottom: 15px;">
                    <div class="row">
                      <div class="col-md-4" style="background-color:#2D7574">
                        <div style="color: white;">
                          Réparation du financement</div>
                      </div>
                    </div>

                    </div>

                  <div class="row">
                   <div class="col-md-12">

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="exampleInputEmail1">BANQUE</label>
                        <input type="text" class="form-control" value="{{financement_bq()}}">

                      </div>



                    </div>
                    <div class="col-md-3">

                      <div class="form-group">
                        <label for="exampleInputEmail1">FONDS PROPRES</label>
                        <input type="text" class="form-control"  value="{{financement_Fp()}}">

                      </div>


                    </div>



                 <div class="col-md-3">
                      <div class="form-group">
                        <label for="exampleInputEmail1">BANQUE</label>
                        <input type="text" class="form-control">

                      </div>


                    </div>
                    <div class="col-md-3">

                      <div class="form-group">
                        <label for="exampleInputEmail1">FONDS PROPRES</label>
                        <input type="text" class="form-control">

                      </div>
                    </div>
                   </div>

                  </div>
                </div>

                <hr class="horizontalline">

                <div class="row" style="margin-top: 30px;">

                   <div class="col-md-12"style="margin-bottom: 15px;">
                    <div class="row">
                      <div class="col-md-4" style="background-color:#2D7574">
                        <div style="color: white;">Part financée en compte courant par le porteur de projet</div>
                      </div>
                    </div>

                    </div>
                  <div class="row">

                    <div class="col-md-12">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="exampleInputEmail1"> En pourcentage %</label>
                        <input type="text" class="form-control" [(ngModel)]="part_financier_percent"
                        name="part_financier_percent" (change)="listenMontant($event.target.value)" 
                        value="{{part_financier_percent}}">

                      </div>



                    </div>
                    <div class="col-md-3">

                      <div class="form-group">
                        <label for="exampleInputEmail1">Montant en £</label>
                        <input type="text" class="form-control"
                        [(ngModel)]="part_financier_Montant"
                        name="part_financier_Montant" (change)="listenPercent($event.target.value)"
                         value="{{part_financier_Montant}}">

                      </div>


                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="exampleInputEmail1"> En pourcentage %</label>
                        <input type="text" class="form-control">

                      </div>


                    </div>
                    <div class="col-md-3">

                      <div class="form-group">
                        <label for="exampleInputEmail1">Montant en £</label>
                        <input type="text" class="form-control">

                      </div>
                    </div>
                  </div>
                  </div>
                </div>


                <div class="row" style="margin-top: 30px;">
                  <div class="col-md-12"style="margin-bottom: 15px;">
                    <div class="row">
                      <div class="col-md-4" style="background-color:#2D7574">
                        <div style="color: white;">
                          Part restante à financer</div>
                      </div>
                    </div>

                    </div>

        <div class="row">
                 <div class="col-md-12">




                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="exampleInputEmail1"> En pourcentage %</label>
                        <input type="text" class="form-control">

                      </div>



                    </div>
                    <div class="col-md-3">

                      <div class="form-group">
                        <label for="exampleInputEmail1">Montant en £</label>
                        <input type="text" class="form-control">

                      </div>


                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="exampleInputEmail1"> En pourcentage %</label>
                        <input type="text" class="form-control">

                      </div>


                    </div>
                    <div class="col-md-3">

                      <div class="form-group">
                        <label for="exampleInputEmail1">Montant en £</label>
                        <input type="text" class="form-control">

                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>



              </div>


              <div class="row" style="margin-top: 60px;">
                <table class="table">
                  <thead style="background-color: #1E4F6F;">
                    <tr>
                      <th style="color: white;">#</th>

                      <th style="color: white; margin-right: 50px;">Avec Subvention</th>
                      <th style="color: white; margin-right: 20px;">Sans Subventions</th>
                    </tr>
                  </thead>

                </table>
              </div>


          </div>

              </div>







        </div>


    </div>








