  <!-- Sidebar Start -->
  <div
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block sidebar ">
  <div class="d-flex align-items-center justify-content-center pt-1">
    <img src="assets/enragri-logo.png" alt="" />
  </div>
  <div class="d-flex align-items-center justify-content-center mt-3">
    <input
      class="search form-control form-control-sm"
      type="text"
      placeholder="Recherche"
      aria-label=".form-control-sm example"
    />
  </div>
  <div class="pt-3">
    <ul class="nav flex-column" >
      <li class="active opened active has-sub nav-item">
        <a class="nav-link" aria-current="page" href="#">
          <i class="fi fi-rr-apps"></i>
          Dashboard
        </a>
      </li>

      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" aria-current="page"  [routerLink]="['/Conception-data']" routerLinkActive="active" >
          <i class="fi fi-rr-apps"></i>
          Conception
        </a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" aria-current="page"  [routerLink]="['/construction']" >
          <i class="fi fi-rr-apps"></i>
          Construction
        </a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" aria-current="page"  [routerLink]="['/Exploitation-data']" >
          <i class="fi fi-rr-apps"></i>
          Exploitation
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page"  [routerLink]="['/test']" >
          <i class="fi fi-rr-apps"></i>
          Fiche Client
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page"  [routerLink]="['/projet']" >
          <i class="fi fi-rr-apps"></i>
          Fiche Projet
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fi fi-rr-address-book"></i>
          Liste clients
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fi fi-rr-truck-side"></i>
          Liste fournisseurs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fi fi-rr-envelope"></i>
          Message
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fi fi-rr-notebook"></i>
          Tache
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fi fi-rr-map-marker"></i>
          Map
        </a>
      </li>
    </ul>


    <hr />
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fi fi-rr-settings"></i>
          Paramètres
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fi fi-rr-interrogation"></i>
          Aide
        </a>
      </li>
      <hr />
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fi fi-rr-sign-out"></i>
          Déconnexion
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Sidebar End -->
