.hoverFocusBtn {
  background-color: #9e9e9e;
}

.hoverFocusBtn:hover,
.hoverFocusBtn:focus {
  background-color: #00ae81;
}
ul.a {
  list-style-type: circle;
}
.is-active{
  background-color: #373e4a;
}
