ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  display: inline-block;
  border: 1px solid green;
  width: calc(100% / 7 - 2px);
  text-align: center;
  cursor: pointer;
}
li.days {
  font-weight: bold;
}
li.grey {
  color: #000;
}
li:hover {
  background-color: green;
}
button {
  background-color: #2d7574;
  color: white;
  border-color: #2d7574;
}
